body {
    margin: 0;
    font-family: "Roboto";
}

/* HEADER */

.header {
    margin: 0;
    padding: 16px;
    background-color: #1F2937;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}
li {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* HERO SECTION */

.hero-section {
    border: 2px solid red;
    padding: 96px 1px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
}

.content-hero {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 16px;
}

.title-hero {
    font-size: 48px;
    font-weight: 900;
}

.paragraph-hero {
    font-size: 18px;
    width: 600px;
}

.img-hero {
    width: 200px;
}

.hero-button {
    align-self: flex-start;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 5px;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
    margin: 0;
}

/*Information Section*/

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://i.scdn.co/image/ab67616d0000b2730da53e8f58e59f28a79c10c7'); /*new thing to learn*/
}

.info-title {
    margin: 32px;
    font-size: 32px;
    font-weight: bold;
}

.info-container {
    display: flex;
    gap: 8px;
    flex-flow: row wrap;
    margin-bottom: 32px;
}

.info-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info-img {
    width:  200px;
    height: 200px;
    object-fit: cover; /*new thing to learn*/
    border-radius: 10%;
    border: 4px solid red;
}

.text {
    padding-top: 8px;
    max-width: 200px;
    text-align: center; /*new thing to learn*/
}

/*Quote Section*/

.quote-section {
    padding: 144px 288px;
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
}

.quote-author {
    font-size: 21px;
    font-weight: 900;
    align-self: flex-end;
}